h2{
    padding-left: 0px !important;
}

ul{
    font-size: 15px;
    padding-left: 15px;
}

li{
    padding: 4px 0;
}

#techUsed{
    background-image: url('../assets/techPic.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#legoCar{
    background-image: url('../assets/lego-carr-001.gif') ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: center;
    background-position-x: center;
}