h2{
    padding-left: 0px !important;
}

ul{
    font-size: 15px;
    padding-left: 30px;
}

#techUsed{
    background-image: url('../assets/techPic.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}