*{
  font-family: 'Inter', sans-serif;
}

:root {
  --main-bg-color: #0a0a0a;
  --main-bg-line-color: #292929;
  --main-highlight-color: #22C55E;
  --main-text-color: #ececec;
}

::selection {
  background: #000;
  color: var(--main-highlight-color);
}
html{
  scroll-behavior: smooth;
}
a,p,h1,h2,h3,h4,b{
  color: var(--main-text-color);
}
p{
  font-size: 15px;
}
h2{
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color)  ; /* Base background color */
  background-image: 
    repeating-linear-gradient(
      90deg, 
      var(--main-bg-line-color), 
      var(--main-bg-line-color) 1px, 
      transparent 1px, 
      transparent 70px
    ),
    repeating-linear-gradient(
      0deg, 
      var(--main-bg-line-color), 
      var(--main-bg-line-color) 1px, 
      transparent 1px, 
      transparent 70px
    );

  /* background-color: #F1F1FD; */
  max-width: 1150px;
  margin:auto;
  padding: 30px;
  overflow-x: hidden;
}

section{
  scroll-margin-top: 7em;
  width: 100%;
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
}

.header p {
  margin: 10px 0 20px;
  font-size: 1em;
}
.header h1{
  font-size: 26px;
}

.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 6px;
  margin: 0 auto;
  padding:12px 0 !important;
  transition: margin 0.6s ease, background-color 0.3s linear;
  backdrop-filter: blur(10px);
}

.navbar.shrink {
  margin-left: 85px;
  margin-right: 85px;
  background-color : rgba(29, 29, 29, 0.6)
}

.navbar a {
  padding: 14px 20px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 15px;
  position: relative;
  right: 0;
  top:0;
}

.navbar a:hover {
  color: var(--main-highlight-color);
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  text-align: center;
  flex: 1 1 30%; 
}

.div-wrapper{
  background-color: #111111;
  color: #fff;
  padding: 22px;
  border-radius: 1rem;
  border: 2px solid var(--main-bg-line-color);
  margin: 6px 0;
}

.hover-none:hover{
  border-color: var(--main-bg-line-color) !important;
}

/* .div-wrapper:hover{
  border-color: var(--main-highlight-color);
} */

.btn{
  padding:8px 15px;
  background: none;
  border-radius: 0.5rem;
  border: 2px solid var(--main-text-color);
  color: var(--main-text-color);
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
} 

.btn:hover{
  border-color: var(--main-highlight-color);
  color:var(--main-highlight-color) ;
}

.horizontal-section {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-content {
  max-width: 200px;
  margin: 0 auto;
}

.divder-container{
  display: grid;
  grid-template-columns:auto auto;
  gap: 18px;
  margin: auto;
}

.divider{
  padding: 1px;
  background: #1b1b1b;
  border-radius: 0.5rem;
}

.divider-vertical{
  width: 100%;
  margin-bottom: 20px;
}


.text-with-divder p,h2,h1{
  padding:0 5px;
}

.profile-pic {
  width: 500px;
  border-radius: 0.5rem;
}

.profile-pic-front{
  width: 300px;
  border-radius: 0.5rem;
  border: 1px solid var(--main-bg-line-color);
}

.practises-header-wrapper{
  display: grid; 
  grid-template-columns: 1fr 2fr; 
  gap:0 12px;
}

.practises-wrapper{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap:0 12px;
}

footer {
  display: flex;
  justify-content: center;
  gap:20px;
  padding: 20px;
  border-radius: 1rem;
}

#introduction span{
  font-size: 18px;
}
#projects p{
  padding-left: 4px;
}

.text-highlight{
  color: var(--main-highlight-color) !important;
  font-family: 'Courier New', Courier, monospace;
}

.flicker {
  display: inline-block;
  animation: flicker-animation 1s infinite;
}

@keyframes flicker-animation {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}




/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
      flex-direction: column;
      padding: 20px;
  }
  
  .navbar a {
      padding: 10px;
      display: block;
  }
}
